<html>
<head>
<title>{{site_name}}</title>
<!-- UIkit CSS -->
<link rel="stylesheet" href="{{base_url}}includes/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="{{base_url}}includes/js/uikit.min.js"></script>
<script src="{{base_url}}includes/js/uikit-icons.min.js"></script>


<!-- jQuery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">


<!--<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->

<!-- Custom -->
<script src="{{base_url}}includes/js/core.js"></script>

<!-- Address Auto-Complete -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.3"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>